<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Propuestas Informatica</div>
		</div>
		<div class ="subheader">
		<span>Iniciar Sesion </span>
		</div>
		<br>
		 <%= form_tag sessions_path do %>		
				
		<div class="login">
				<%= text_field_tag :email,params[:email], type: "text", :placeholder => "email"%>
				<%= password_field_tag :password,nil,:placeholder => "password"%>
				<p class="button"><%= submit_tag "Iniciar sesion" %></p>
				<p><%= notice %></p>

<% @search = User.find_by_id(1) %>
<% @search2 = User.find_by_id(2) %>
<% if @search.blank? %>
	<p><b>>> PASO 1:</p></b>
	<a href="../../sign_up">
	<button type="button"> Crear Administrador </button></a>
<% elsif %>
	<% if @search2.blank? %>
		<p><b>>> PASO 2:</p></b>
		<a href="../../sign_up">
		<button type="button"> Crear Coordinador </button></a>
	<% end %>
<% else %>
	<a href="../../requests">
	<button  type="button"> Ver Propuestas </button></a> <br></br>
<% end %>
		</div>
		<% end %>
