<%= form_for(@requests_closure) do |f| %>
  <% if @requests_closure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requests_closure.errors.count, "error") %> prohibited this requests_closure from being saved:</h2>

      <ul>
      <% @requests_closure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box-body">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
      <%= f.hidden_field :career_id, {:value => @requests_closure.career_id, :name => 'requests_closure[career_id]'} %>
      <input class="form-control" placeholder="<%= @requests_closure.career.name %>" disabled="" type="text">
	 	</div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <%= f.date_select :final_date, class:"form-control" %>
	 	</div>
    <br>
	</div>

  <div class="box-footer">
	    <p><%= f.submit 'Editar Fecha Tope', class: "btn btn-primary"  %></p>
	</div>
<% end %>
