<% if current_user && userIsCoordinator %>

<div class="content-wrapper">
 <section class="content-header">

  <p id="notice"><%= notice %></p>

	<div class="row">
            <!-- left column -->
            <div class="col-md-6">	
		<div class="box box-info">
                <div class="box-header">
                  <h3 class="title-box">Informacion de la Fecha Tope</h3>
                </div>

	<div class="box-body">
	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
		    <input class="form-control" placeholder="<%= @requests_closure.career.name %>" disabled="" type="text">
	 	</div>
	<br>
	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    <input class="form-control" placeholder="<%= @requests_closure.final_date %>" disabled="" type="text">
	 	</div>
	<br>

<%= link_to 'Editar', edit_requests_closure_path(@requests_closure) %>

<% else %>
  <%= controller.redirect_to log_in_path %>
<% end %>
