<div class="content-wrapper">
 <section class="content-header">
 <% if current_user %>
<% if userIsAdmin %>

  <div class="row">
            <!-- left column -->
            <div class="col-md-6">	
		<div class="box box-info">
                <div class="box-header">
                  <h3 class="title-box">Editando Carrera</h3>
                </div>	
	

<%= render 'form' %>

<%= link_to 'Mostrar', @career %> |
<%= link_to 'Regresar', careers_path %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
<% else %>
<%= controller.redirect_to log_in_path %>
<% end %>
</section>
</div>
