<div class="content-wrapper">
 <section class="content-header">

<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Lista de Carreras</h3>
<!-- search                   
		<div class="box-tools">
                    <div class="input-group">
                      <input name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" type="text">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
	-->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody><tr>
		      <th>Carrera</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		    <% @careers.each do |career| %>
		      <tr>
			<td><%= career.name %></td>
			<td><%= link_to 'Mostrar', career %></td>
			<td><%= link_to 'Editar', edit_career_path(career) %></td>
			<td><%= link_to 'Borrar', career, method: :delete, data: { confirm: 'Borrar la carrera?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		</div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
	
	<div class="box-footer">
	<%= link_to 'Nueva Carrera', new_career_path, class: "btn btn-primary" %>
	</div>
</section>
</div>
