<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<% if @user %>
	<p>
    <%= f.label :Nombre_Completo %><br />
    <%= f.hidden_field :name, {:value => @user.name, :name => 'user[name]'} %>
		<%= @user.name %>
  </p>
		<p>
			<%= f.label :Email %><br />
			<%= f.hidden_field :email, {:value => @user.email, :name => 'user[email]'} %>				
			<%= @user.email %>
		</p>
	<p>
    <%= f.label :Cuenta %><br />
    <%= f.hidden_field :cuenta, {:value => @user.cuenta, :name => 'user[cuenta]'} %>
		<%= @user.cuenta %>
  </p>
	<p>
    <%= f.label :Carrera %><br />
    <%= f.hidden_field :career_id, {:value => @user.career_id, :name => 'user[career_id]'} %>
		<%= @user.career.name %>
  </p>
  <p>
    <%= f.label :Telefono %><br />
    <%= f.text_field :telefono %>
  </p>
  <p>
    <%= f.label :Informacion_Adicional %><br />
    <%= f.text_field :informacion_adicional %>
  </p>
 <% if @user == current_user %>
	<b> ** Para hacer los cambios ingrese su contraseña (tambien la puede cambiar). ** </b>
	<p>
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :Confirmar_Contraseña%><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% else %>
  <b>** Asegurese de colocar el rol y la carrera antes de presionar el boton de 'Editar' **</b>
  <p>
    <%= f.label :Rol %><br />
    <select name="user[role_id]">
      <% if !userIsCoordinator %>
        <% Role.all.each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
      <% else %>
        <% Role.where.not(id:2).each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
      <% end %>
    </select>
  </p>
  <% if userIsAdmin %>
	<p>
    <%= f.label :Carrera %><br />
    <% if !userIsCoordinator %>
      <select name="user[career_id]">
        <% Career.all.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    <% else %>
      <%= f.hidden_field :career_id, {:value => current_user.career_id, :name => 'user[career_id]'} %>				
			<%= current_user.career.name %>
    <% end %>
  </p>
  <% end %>
    <%= f.hidden_field :password, {:value => @user.password, :name => 'user[password]'} %>
    <%= f.hidden_field :password_confirmation, {:value => @user.password_confirmation, :name => 'user[password_confirmation]'} %>
  <% end %>
	<% end %>
  <p ><%= f.submit 'Editar' %></p>
  
<% end %>

</section>
</div>
