<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
            <!-- left column -->
            <div class="col-md-6">	
		<div class="box box-info">
                <div class="box-header">
                  <h3 class="title-box">Nuevo Usuario</h3>
                </div>	
	
  	 <div class="box-body">
		<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
		   <%= f.text_field :name, class:"form-control",:placeholder => "Nombre Completo" %>  		  
	 	</div>
	<br>
  	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
		   <%= f.text_field :email, class:"form-control",:placeholder => "Correo electronico" %>    		    
		</div>
	<br>
	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
		  <%= f.text_field :cuenta, class:"form-control",:placeholder => "Numero de Cuenta" %>    		   
		</div>
  	<br>
<% @search = User.find_by_id(1) %>

<% if !@search.blank? %>
	<p>
    <%= f.label :Rol %><br />
    <select name="user[role_id]", class="form-control">
      <% if !userIsCoordinator %>
        <% Role.all.each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
      <% else %>
        <% Role.where.not(id:2).each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
      <% end %>
    </select>
  </p>
	<p>
    <%= f.label :Carrera %><br />
    <% if !userIsCoordinator %>
      <select name="user[career_id]", class="form-control">
        <% Career.all.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    <% else %>
	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
      		<%= f.hidden_field :career_id, {:value => current_user.career_id, :name => 'user[career_id]'} %>
		<input class="form-control" placeholder="<%= @current_user.career.name %>" disabled="" type="text">
  		</div>
	<br>		 
    <% end %>
  </p>
<% else %>
	<p>
    <%= f.label :Rol %><br />
    <select name="user[role_id]">
        <% Role.where.not(id: [1,3]).each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
    </select>
  </p>
	<p>
    <%= f.label :Carrera %><br />
      <select name="user[career_id]">
        <% Career.all.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
  </p>
<% end %>
<div class="box-footer">
  <p><%= f.submit 'Registrar', class: "btn btn-primary"  %></p>
</div>  
<% end %>

</section>
</div>
