<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<p>
    <%= f.label :Nombre_Completo %><br />
    <%= f.text_field :name %>
  </p>
	<p>
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </p>
	<p>
    <%= f.label :Cuenta %><br />
    <%= f.text_field :cuenta %>
  </p>
	<p>
    <%= f.label :Rol %><br />
    <select name="user[role_id]">
      <% if !userIsCoordinator %>
        <% Role.all.each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
      <% else %>
        <% Role.where.not(id:2).each do |r| %>
          <option value="<%= r.id %>"><%= r.name %></option>
        <% end %> 
      <% end %>
    </select>
  </p>
	<p>
    <%= f.label :Carrera %><br />
    <% if !userIsCoordinator %>
      <select name="user[career_id]">
        <% Career.all.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    <% else %>
      <%= f.hidden_field :career_id, {:value => current_user.career_id, :name => 'user[career_id]'} %>				
			<%= current_user.career.name %>
    <% end %>
  </p>
  <p><%= f.submit 'Registrar' %></p>
  
<% end %>

</section>
</div>
