<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row">
            <!-- left column -->
            <div class="col-md-6">	
		<div class="box box-info">
                <div class="box-header">
                  <h3 class="title-box">Nuevo Horario</h3>
                </div>	
	
  	 <div class="box-body">
	  	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
		   <%= f.text_field :name, class:"form-control",:placeholder => "Ingrese Horario" %>  		  
	 	</div>
	      </div>

  	<div class="box-footer">
	  <p><%= f.submit 'Crear Horario', class: "btn btn-primary"  %></p>
	  </div>
<% end %>

</section>
</div>

