<% if current_user %>
<div class="content-wrapper">
 <section class="content-header">

<% if userIsAdmin %>
	<p id="notice"><%= notice %></p>
	<div class="row">
            <!-- left column -->
            <div class="col-md-6">	
		<div class="box box-info">
                <div class="box-header">
                  <h3 class="title-box">Informacion de Horario</h3>
                </div>

	<div class="box-body">
	<div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
		    <input class="form-control" placeholder="<%= @schedule.name %>" disabled="" type="text">
	 	</div>
	<br>

	<%= link_to 'Editar', edit_schedule_path(@schedule) %> |
	<%= link_to 'Regresar', schedules_path %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
</section>
</div>
<% else %>
<%= controller.redirect_to log_in_path %>
<% end %>
