<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Propuestas Iniciales</h3>
                   
<!-- search box -->
		<div class="box-tools">
                    <div class="input-group">
                      <form role="form" accept-charset="UTF-8" action="/requests" method="get" class="nifty_form">
                      <input name="table_search1" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Buscar" type="text">
                      <input name="career_id" type="hidden" value="<%=@career_id%>"/>
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                    </form>
                  </div>

                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody><tr>
		      <th>Clase</th>
		      <th>Horario</th>
		      <th>Estado</th>
		      <th>Registrados</th>
		      <th>Carrera</th>
		      <th>Progreso</th>
		    </tr>
<% @temp = params[:career_id].to_i %>
		    <% @propuestas_iniciales.each do |inicial| %>
		      <% @requestito = Request.joins(:course).where("courses.name LIKE ?" , "%#{@table_search1}%").where(id: inicial.request_id).each do |request| %>
			<tr>
			  <td><%= request.course.name %></td>
			  <td><%= request.schedule.name %></td>
			<%if request.state.id==1%>
			    <td><span class="label label-warning"><%= request.state.name %></span> </td>
                          <%elsif request.state.id==2%>
			    <td><span class="label label-success"><%= request.state.name %></span></td>
                          <%elsif request.state.id==3%>
			    <td><span class="label label-danger"><%= request.state.name %></span></td>
                          <%else%>
			    <td><%= request.state.name %></td>
                          <%end%>
		<td><%= (UserInRequest.where(:request_id => request.id).count)-1 %></td>	  
		    <td><%= request.course.career.name %></td>
			<td>
				<% u = (UserInRequest.where(:request_id => request.id).count)-1%>
				<% if u < 5 %>
				 <div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-danger" style="width: <%= u*10%>%"></div>
                        	 </div>	
				<% elsif  u >= 5 &&  u<8 %>
				  <div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-yellow" style="width: <%= u*10%>%"></div>
                        	 </div>
				<% elsif  u >= 8 %>
				  <div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-success" style="width: <%= u*10%>%"></div>
                        	 </div>
				<% else %>
				<div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-danger" style="width: 0%"></div>
                        	 </div>			
				<% end %>	
                          </td>			 
			</tr>
		      <% end %>
		    <% end %>
		  </tbody>
		</table>
		</div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>

<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Propuestas por los Alumnos</h3>
      
<!-- search box -->
		<div class="box-tools">
                    <div class="input-group">
                      <form role="form" accept-charset="UTF-8" action="/requests" method="get" class="nifty_form">
                      <input name="table_search2" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Buscar" type="text">
                      <input name="career_id" type="hidden" value="<%=@career_id%>"/>
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                    </form>
                  </div>

                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class=	"table table-hover">
                    <tbody><tr>
		    <th>Clase</th>
		      <th>Horario</th>
		      <th>Estado</th>
		      <th>Registrados</th>
		      <th>Carrera</th>
		      <th>Progreso </th>
		    </tr>
		      <% @propuestas_alumnos.each do |request| %>
		      <tr>
			<td><%= request.course.name %></td>
			<td><%= request.schedule.name %></td>
			<%if request.state.id==1%>
			    <td><span class="label label-warning"><%= request.state.name %></span> </td>
                          <%elsif request.state.id==2%>
			    <td><span class="label label-success"><%= request.state.name %></span></td>
                          <%elsif request.state.id==3%>
			    <td><span class="label label-danger"><%= request.state.name %></span></td> 
                          <%else%>
			    <td><%= request.state.name %></td>
                          <%end%>
		  <td><%= (UserInRequest.where(:request_id => request.id).count) %></td>
		     <td><%= request.course.career.name %></td>
			<td>
				<% u = (UserInRequest.where(:request_id => request.id).count)%>
				<% if u < 5 %>
				 <div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-danger" style="width: <%= u*10%>%"></div>
                        	 </div>	
				<% elsif  u >= 5 &&  u<8 %>
				  <div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-yellow" style="width: <%= u*10%>%"></div>
                        	 </div>
				<% elsif  u >= 8 %>
				  <div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-success" style="width: <%= u*10%>%"></div>
                        	 </div>
				<% else %>
				<div class="progress progress-xs">
                          		<div class="progress-bar progress-bar-danger" style="width: 0%"></div>
                        	 </div>			
				<% end %>	
                          </td>  
		    </tr>
		    <% end %>
		  </tbody>
		</table>
		</div>
              </div>
            </div>
