<div class="content-wrapper">
 <section class="content-header">

<h1>Listado de clases disponibles</h1>

<table>
  <thead>
    <tr>
      <th>Clase</th>
      <th>Requisitos</th>
      <th>Requisitos recomendados</th>
      	<% if !userIsCoordinator %>
			<th>Carrera</th>
			<th></th>
	<% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.requirements %></td>
        <td><%= course.recommended_requirements %></td>
        <% if !userIsCoordinator %>
				<td><%= course.career.name %></td>
	<% end %>
        <td><%= link_to 'Mostrar', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <%if userIsAdmin%>
          <td><%= link_to 'Borrar', course, method: :delete, data: { confirm: '¿Borrar clase?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva clase', new_course_path %>
</section>
</div>
